:root {
  --el-color-primary: #409eff;
  --el-color-success:#67c23a;
  --el-color-warning:#e6a23c;
  --el-color-danger:#f56c6c;
  --el-color-white: #ffffff;
  --el-text-color-primary:#303133;
  --el-text-color-regular:#606266;
  --el-text-color-secondary:#909399;
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color: #dcdfe6;
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-border-radius-base: 4px;
}
